mods/
.mixin.out/
assets/
astralsorcery/
crash-reports/
journeymap/
libraries/
local/
logs/
native/
resourcepacks/
saves/
screenshots/
shaderpacks/
tmp/
versions/
*.log
launcher_profiles.json
options.txt
BotaniaVars.dat
config/AppliedEnergistics2/VersionChecker.cfg