mods/
.mixin.out/
assets/
astralsorcery/
crash-reports/
journeymap/
libraries/
local/
logs/
native/
resourcepacks/
saves/
screenshots/
shaderpacks/
tmp/
versions/
generated/
caches/
*.log
launcher_profiles.json
options.txt
BotaniaVars.dat
config/AppliedEnergistics2/VersionChecker.cfg
config/time.history
config/tconstruct_oredictcache.dat
config/JustEnoughCalculation
config/splash.properties
config/brandon3055/contributors.json
config/worldedit/worldwdit.properties
resources/witchery-1.7.10-0.24.1.jar
usercache.json
usernamecache.json
temp.txt
generated.zip
**/*.disabled
backups/
.vscode/
Code/
config/InvTweaks/InvTweaks.cfg
config/jei
config/worldedit/worldedit.properties
config/splash.properties
servers.dat
