mods/
.mixin.out/
assets/
astralsorcery/
crash-reports/
journeymap/
libraries/
local/
logs/
native/
resourcepacks/
saves/
screenshots/
shaderpacks/
tmp/
versions/
*.log
launcher_profiles.json
options.txt
BotaniaVars.dat
config/AppliedEnergistics2/VersionChecker.cfg
config/splash.properties
config/brandon3055/contributors.json
config/worldedit/worldwdit.propertiesc
usercache.json
usernamecache.json
temp.txt
**/*.disabled
backups/
.vscode/
Code/
